:host {
    width: 100%;
}

.dashboard-container {
    padding: 32px 24px;

    .dashboard-content {
        position: relative;

        .preview-stats-title,
        .preview-bookings-title {
            h2 {
                font-weight: 500;
                font-size: 24px;
                color: var(--tertiary-text);
            }

            .select {
                width: 150px;
                height: 40px;
            }
        }

        .loading-spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .progress-spinner {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .preview-stats-cards {
        flex-wrap: wrap;

        .dashboard-card {
            width: calc(50% - 12px);
            flex-wrap: wrap;
        }
    }
}