<div class="activity-list-container">
    <div class="activity-list-content h-full">
        @if (isLoading() === false) {
        <div class="flex flex-col gap-4 w-full">
            <div class="search-bar">
                <p-autocomplete [(ngModel)]="value" [suggestions]="items" (completeMethod)="search($event)" />
                <app-icon-svg class="icon-search" width="16" height="16" iconName="search" color="#111827"></app-icon-svg>
            </div>
            <div class="activity-list flex gap-4">
                <div class="add-card flex flex-col justify-center items-center gap-y-2" (click)="addNewActivity()">
                    <button class="add-btn flex justify-center items-center">
                        <app-icon-svg width="36" height="36" iconName="plus" color="#fafafa"></app-icon-svg>
                    </button>
                    <p class="mt-4">Ajouter une activité</p>
                    <p>Créez une nouvelle activité pour diversifier votre offre</p>
                </div>

                <!-- @for (data of activityData; track data.id) {
                <div class="activity-card">
                </div>
                } -->
            </div>
        </div>
        } @else {
        <!-- Loading -->
        <div class="loading-spinner flex justify-center">
            <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" class="progress-spinner" />
        </div>
        }
    </div>
</div>