.step-content-container {
    .card {
        border-radius: 12px;
        padding: 24px;
        background-color: var(--primary-background);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

        .client-infos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;

            label {
                font-size: 14px;
                color: var(--secondary-text);
            }

            @media (max-width: 1280px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 1024px) {
                grid-template-columns: 1fr;
            }

            >div {
                display: flex;
                flex-direction: column;
                gap: 8px;

                >div {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    gap: 12px;

                    label {
                        flex: 1;
                        text-align: left;
                    }

                    p-inputnumber,
                    p-select {
                        flex-shrink: 0;
                    }
                }
            }
        }

        .schedule-infos {
            p.availability {
                font-size: 16px;
                font-weight: 500;
                color: var(--tertiary-text);
            }

            .add-schedule {
                padding: 1rem;
                background-color: transparent;
                border-radius: 12px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: var(--tertiary-background);
                }

                p {
                    font-size: 16px;
                    color: var(--tertiary-text);
                    text-decoration: underline;
                }
            }
        }

        .schedule-activities {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
            align-items: stretch;

            @media (max-width: 1280px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 1024px) {
                grid-template-columns: 1fr;
            }

            .schedule-date {
                background-color: var(--secondary-background);
                border-radius: 12px;
                padding: 4px 10px;
                border: 1px solid var(--border-color);

                .day {
                    font-size: 16px;
                    color: var(--tertiary-text);
                }

                .hour {
                    font-size: 14px;
                    color: var(--tertiary-color);
                    font-weight: 300;
                }
            }
        }

        .schedule-location {
            label {
                font-size: 14px;
                color: var(--primary-text);
            }

            .country-region {
                position: relative;

                #country {
                    background-color: var(--primary-background);
                    box-shadow: none;
                }

                .p-inputtext {
                    font-weight: 700;
                    color: var(--tertiary-text);
                }

                .lock {
                    position: absolute;
                    right: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}