.status-button-container {
    width: fit-content;
    height: 32px;
    border-radius: 24px;
    padding: 0 12px;

    p.content {
        color: var(--secondary-background);
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
}