/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #49a3a3;
    --secondary-color: #c60541;
    --tertiary-color: #aca9a2;
    --primary-text: #242651;
    --secondary-text: #57636c;
    --primary-background: #fafafa;
    --secondary-background: #ffffff;
    --tertiary-background: #f7f7f8;
    --error: #ff5963;
}