/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
    --primary-color: #49a3a3;
    --primary-dark-color: #347A79;
    --secondary-color: #c60541;
    --secondary-light-color: #e0074c;
    --tertiary-color: #aca9a2;
    --quaternary-color: #ffce34;

    --primary-text: #242651;
    --secondary-text: #57636c;
    --tertiary-text: #111827;

    --primary-background: #fafafa;
    --secondary-background: #ffffff;
    --tertiary-background: #f7f7f8;

    --border-color: #e5e7eb;
    --filled-color: #e2e2e2;
    --placeholder-color: #64748b;
}

h1,
h2,
h3,
h4 {
    font-family: "Signika", sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-text);
}

span,
.nav-item,
button,
p,
label {
    font-family: "Rubik", sans-serif;
}

input:not(#country, .p-inputnumber-input) {
    background-color: var(--primary-background);
    height: 48px;
    border-radius: 8px;
    box-shadow: none;
}

.error-message {
    font-size: 14px;
}

/* 
─────────────────────────────────────────────────────────────────────────
    Prime NG Overrides
─────────────────────────────────────────────────────────────────────────
*/

/*
 * InputNumber
 */
:root {
    .p-inputnumber {
        width: 140px;
        height: 48px;
        border-radius: 8px;

        .p-inputnumber-input {
            width: 100%;
            background-color: var(--primary-background);
            border-left: none;
            border-right: none;
            box-shadow: none;
            text-align: center;

            &:hover {
                border-top: 1px solid var(--p-form-field-border-color);
                border-bottom: 1px solid var(--p-form-field-border-color);
            }

            &:disabled {
                background-color: var(--p-inputtext-disabled-background);
            }
        }

        .p-inputnumber-increment-button,
        .p-inputnumber-decrement-button {
            width: 35px;
            background-color: var(--primary-background);
        }

        &.ng-invalid.ng-dirty {

            .p-inputnumber-increment-button,
            .p-inputnumber-decrement-button {
                border-color: var(--p-inputtext-invalid-border-color);
            }

            .p-inputnumber-input {
                border-color: var(--p-inputtext-invalid-border-color);
            }
        }
    }

    /*
 * Select
 */
    .p-select {
        width: 140px;
        height: 48px;
        border-radius: 8px;
        background-color: var(--primary-background) !important;
        box-shadow: none;

        .p-placeholder {
            color: var(--placeholder-color);
            font-weight: 300;
        }
    }

    /*
 * SelectButton
 */
    .p-selectbutton {
        height: 44px;

        .p-togglebutton {
            color: var(--primary-text);
        }

        .p-togglebutton-checked {
            color: var(--primary-background);

            .p-togglebutton-content {
                background-color: var(--primary-color);
            }
        }
    }

    /*
 * Textarea
 */
    .p-textarea {
        background-color: var(--primary-background) !important;
        resize: none;
        text-align: left;
    }

    /*
 * FileUpload
 */
    p-fileupload .p-message,
    p-fileupload .p-message-text {
        display: none;
    }

    .p-fileupload-basic-content {

        .p-button-label,
        .p-icon {
            display: none;
        }
    }

    .p-fileupload-basic-content>span {
        display: none;
    }

    /*
 * ToggleSwitch
 */
    .p-toggleswitch-slider {
        background-color: var(--secondary-light-color);
    }

    .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
        background: var(--primary-color);
    }

    .p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover).p-toggleswitch-checked .p-toggleswitch-slider {
        background: var(--primary-dark-color);
    }

    .p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover) .p-toggleswitch-slider {
        background: var(--secondary-color);
    }
}