.step-content-container {
    .card {
        border-radius: 12px;
        padding: 24px;
        background-color: var(--primary-background);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

        label {
            font-size: 14px;
            color: var(--primary-text);
        }

        .name-and-category {
            .name {
                width: 80%;
            }

            .category {
                width: 20%;

                #activity-categories {
                    height: 48px;
                    box-shadow: none;
                }
            }
        }

        .description {
            position: relative;

            .char-counter {
                position: absolute;
                bottom: 8px;
                right: 12px;
                font-size: 12px;
                color: #8B8D91;
            }
        }

        .upload {

            .p-fileupload-basic-content {

                .p-fileupload-choose-button {
                    width: 246px;
                    height: 184px;
                    border-radius: 12px;
                    border: 2px dashed var(--tertiary-text);
                    background-color: var(--filled-color);
                    background-image: url('/assets/icons/add-photo.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 56px 56px;
                }
            }

            .photo {
                position: relative;
                width: 246px;
                height: 184px;
                border-radius: 12px;

                img {
                    position: absolute;
                    object-fit: cover;
                    border-radius: 12px;
                    z-index: 1;
                }

                .badge {
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    font-size: 10px;
                    font-weight: 400;
                    z-index: 2;
                }

                .close-button {
                    opacity: 0;
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: #ffffff83;
                    z-index: 2;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                }

                &:hover .close-button {
                    opacity: 1;
                }
            }

        }
    }

}

@media screen and (max-width: 1024px) {
    .step-content-container {
        .card {
            .name-and-category {
                .name {
                    width: 60%;
                }

                .category {
                    width: 40%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .step-content-container {
        .card {
            .name-and-category {
                .name {
                    width: 100%;
                }

                .category {
                    width: 100%;
                }
            }

            .upload {
                p-fileupload#activity-photos {
                    width: 100%;

                    .p-fileupload,
                    .p-fileupload-choose-button,
                    p-button {
                        width: 100%;
                    }
                }

                .photo {
                    width: 100%;
                }
            }
        }
    }
}