:host {
    width: 100%;
    height: 150px;
}

.dashboard-table-card-container {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 24px;
    background-color: var(--primary-background);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

    .card-top {

        .date {
            width: 50px;
            height: 50px;
            background-color: var(--primary-text);
            border-radius: 50%;

            span {
                font-size: 13px;
                color: var(--secondary-background);
            }
        }

        .reference:not(.date) {
            font-weight: 500;
            color: var(--primary-text);
        }
    }
}