spring:
  application:
    name: api
  main:
    banner-mode: off
  profiles:
    default: "local"
management:
  endpoints:
    web:
      exposure:
        include: health
server:
  servlet:
    context-path: "/api"