.button-container {
    height: 44px;
    border-radius: 12px;
    gap: 8px;
    padding: 10px 20px;
    color: var(--secondary-background);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    img {
        width: auto;
        height: auto;
    }
}