:host {
    width: 100%;
    height: 200px;
}

.dashboard-card-container {
    width: 100%;
    max-height: 200px;
    height: 100%;
    border-radius: 12px;
    padding: 24px;
    background-color: var(--primary-background);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

    h2.label {
        font-size: 20px;
        font-weight: 500;
        color: var(--tertiary-text);
    }

    .content {
        p.value {
            font-size: 28px;
            color: var(--tertiary-text);
            font-weight: 500;
        }

        img.icon {
            margin-top: 2px;
        }
    }

    .trend {
        min-width: 0;
        
        > div {
            min-width: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .percent-up {
        color: var(--primary-color);
        flex-shrink: 0;
    }

    .percent-down {
        color: var(--secondary-light-color);
        flex-shrink: 0;
    }

    .percent {
        color: var(--secondary-text);
        flex-shrink: 0;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 992px) {
    .dashboard-card-container {

        h2.label {
            font-size: 16px;
        }

        .content {
            p.value {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
        .dashboard-card-container {
        max-width: 100%;
    }
}

@media screen and (max-width: 640px) {
     .dashboard-card-container {

        h2.label {
           font-size: 13px;
           font-weight: 400;
        }

        .content {
            p.value {
                font-size: 20px;
            }
        }
    }
}