.kcFormClass {
    max-width: 460px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kcFormButtonsClass button,
.kcFormButtonsClass input {
    width: 100%;
    height: 55px;
    border-radius: 8px;
    color: var(--gray-salt);
    background-color: var(--primary);
    font-weight: 600;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.kcFormButtonsClass button:hover,
.kcFormButtonsClass input:hover {
    background-color: var(--primary-dark);
}

/* Custom Classes */
.register-title {
    font-size: 32px;
    margin-bottom: 96px;
}

.already-have-account {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
    margin-top: 96px;
}

.already-have-account p {
    font-size: 16px;
}

.already-have-account a {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
    text-decoration: underline;
}

.already-have-account a:hover {
    color: var(--primary-dark);
}

.wewiins-bg {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: var(--secondary-blue);
}