.p-datatable-table-container {
    border-radius: 12px;
}

.p-datatable-table {

    thead tr th,
    tbody tr td {
        background-color: var(--primary-background);
    }

    thead tr th {
        color: var(--tertiary-text);
    }

    tbody tr th.day {
        height: 36px;
        text-align: center;
        font-size: 14px;
        background-color: var(--primary-text);
        border-radius: 24px;
        color: var(--secondary-background)
    }

    tbody tr td {
        height: 70px;
    }

    .col-date-and-time .hour {
        color: var(--secondary-text);
    }

    .see-all {
        text-align: center;
        border-bottom: 1px solid var(--primary-background);

        .content {
            cursor: pointer;
        }

        span {
            text-decoration: underline;
        }
    }

    .see-all * {
        display: inline-block;
        vertical-align: middle;
    }
}

@media screen and (max-width: 1280px) {

    .col-reference,
    .col-title,
    .col-date-and-time {
        display: inline-block;
        max-width: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 1024px) {
    .p-datatable-table {

        thead tr th {
            font-size: 14px;
            max-width: 60px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        tbody tr td {
            font-size: 14px;
        }
    }
}