name: wewiins-kc-dev

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-dev
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak-postgres-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - keycloak-network

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    container_name: keycloak-dev
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: wewiins-kc-dev
      KC_BOOTSTRAP_ADMIN_PASSWORD: wewiins-kc-password
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
    ports:
      - "127.0.0.1:8080:8080"
    command: start-dev
    depends_on:
      - postgres
    networks:
      - keycloak-network

  angular:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: angular-dev
    ports:
      - "4200:4200"
    volumes:
      - ./client:/client
      - /client/node_modules
    networks:
      - keycloak-network
    depends_on:
      - keycloak

volumes:
  keycloak-postgres-data:

networks:
  keycloak-network:
    driver: bridge