.good-to-known-card-container {
    width: 147px;
    height: 139px;
    border-radius: 12px;
    padding: 20px 14px;
    background-color: var(--tertiary-background);

    .header p {
        font-size: 12px;
        color: var(--tertiary-text);
    }

    .content {
        font-size: 10px;
        color: var(--tertiary-text);
    }
}

.p-checkbox-checked .p-checkbox-box {
    background: var(--primary-color);
    border-color: var(--primary-color);
}