<div class="title-section-container flex flex-col">
    <div class="header-section flex flex-row justify-between items-center">
        @if (keycloakService.userProfile()?.firstName; as firstName) {
            <h1 class="title">Bonjour {{ firstName }},</h1>
        } @else {
            <h1 class="title">Tableau de bord</h1>
        }
        <div class="buttons-section flex flex-row items-center">
            <app-button 
                textContent="Créer une activité" 
                iconPath="assets/icons/add-activity.svg"
                colorButton="var(--secondary-light-color)"
                darkColorButon="var(--secondary-color)">
            </app-button>
            <img 
            (mouseenter)="isHovered.set(true)"
            (mouseleave)="isHovered.set(false)"
            [ngSrc]="isHovered() 
            ? 'assets/icons/active-notification-dashboard.svg' 
            : 'assets/icons/notification-dashboard.svg'" 
            width="32" 
            height="32" 
            alt="Icône Notification">
        </div>
    </div>
</div>
